body {
	background: #000;
}
nav {
	text-align: center;
}
nav a {
	line-height: 30px;
	width: 150px;
	text-align: center;
	color: aqua;
	display: inline-block;
	text-decoration: none;
	font-family: 'Oswald', sans-serif;
}
